## Workshop #1 - Notebook 1: Loading the Initial Data  

In this notebook, we‚Äôll focus on the first step of the process: loading raw data into a PostgreSQL database. To make this task simple and efficient, we‚Äôll use the `conexion_db.py` module.  

This module helps us read environment variables and establish a database connection using SQLAlchemy. Once the connection is set up, we can easily transfer the data using Pandas' `pd.DataFrame.to_sql()` function.  

With this, everything will be ready for the next steps in our analysis. Let‚Äôs get started! üöÄ

## Setting the environment

In [1]:
import sys
sys.path.append('../config')

## Importing libraries and modules

In [2]:
from sqlalchemy import text
from conexion_db import get_engine
import pandas as pd
from sqlalchemy import Column, Integer, String,Date,inspect
from sqlalchemy.orm import declarative_base

## Reading the dataset

In [3]:
df = pd.read_csv(r"C:/Users/Acer/OneDrive/Escritorio/Workshops y Proyectos/workshop1/datos/candidates.csv", sep=";")

In [4]:
df

,First Name,Last Name,Email,Application Date,Country,YOE,Seniority,Technology,Code Challenge Score,Technical Interview Score
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7
...,...,...,...,...,...,...,...,...,...,...
49995,Bethany,Shields,rocky_mitchell@hotmail.com,2022-01-09,Dominican Republic,27,Trainee,Security,2,1
49996,Era,Swaniawski,dolores.roob@hotmail.com,2020-06-02,Morocco,21,Lead,Game Development,1,2
49997,Martin,Lakin,savanah.stracke@gmail.com,2018-12-15,Uganda,20,Trainee,System Administration,6,1
49998,Aliya,Abernathy,vivienne.fritsch@yahoo.com,2020-05-30,Czech Republic,20,Senior,Database Administration,0,0
49999,Coleman,Wisozk,abigayle.crooks@yahoo.com,2022-06-13,Palau,15,Intern,Mulesoft,3,1

## Connection with PostgreSQL

In [5]:

engine = get_engine()

try:
    with engine.connect() as connection:
        print("‚úÖ Conexi√≥n exitosa a PostgreSQL")
except Exception as e:
    print("‚ùå Error de conexi√≥n:", e)

‚úÖ Conexi√≥n exitosa a PostgreSQL

## Table creation

In [6]:
Base = declarative_base()

class Candidates(Base):
    __tablename__ = 'candidates'
    id = Column(Integer, primary_key=True, autoincrement=True)
    first_name = Column(String(50))
    last_name = Column(String(50))
    email = Column(String(100))
    application_date = Column(Date)
    country = Column(String(200))
    yoe = Column(Integer)
    seniority = Column(String(200))
    technology = Column(String(200))
    code_challenge_score = Column(Integer)
    technical_interview_score = Column(Integer)

try:
    with engine.connect() as connection:
        print("‚úÖ Conexi√≥n exitosa a PostgreSQL")
except Exception as e:
    print("‚ùå Error de conexi√≥n:", e)


inspector = inspect(engine)
print("Tablas en la base de datos:", inspector.get_table_names())

‚úÖ Conexi√≥n exitosa a PostgreSQL
Tablas en la base de datos: ['candidates', 'cleaned_candidates']

## Transfering the data to the database in PostgreSQL

In [ ]:
df.to_sql("candidates", engine, if_exists="replace", index=False)

print("‚úÖ Datos insertados en PostgreSQL correctamente")

‚úÖ Datos insertados en PostgreSQL correctamente

## Verifying the data transference

In [ ]:
query = "SELECT * FROM candidates LIMIT 15;"

with engine.connect() as connection:
    result = connection.execute(text(query))
    for row in result:
        print(row)

('Bernadette', 'Langworth', 'leonard91@yahoo.com', '2021-02-26', 'Norway', 2, 'Intern', 'Data Engineer', 3, 3)
('Camryn', 'Reynolds', 'zelda56@hotmail.com', '2021-09-09', 'Panama', 10, 'Intern', 'Data Engineer', 2, 10)
('Larue', 'Spinka', 'okey_schultz41@gmail.com', '2020-04-14', 'Belarus', 4, 'Mid-Level', 'Client Success', 10, 9)
('Arch', 'Spinka', 'elvera_kulas@yahoo.com', '2020-10-01', 'Eritrea', 25, 'Trainee', 'QA Manual', 7, 1)
('Larue', 'Altenwerth', 'minnie.gislason@gmail.com', '2020-05-20', 'Myanmar', 13, 'Mid-Level', 'Social Media Community Management', 9, 7)
('Alec', 'Abbott', 'juanita_hansen@gmail.com', '2019-08-17', 'Zimbabwe', 8, 'Junior', 'Adobe Experience Manager', 2, 9)
('Allison', 'Jacobs', 'alba_rolfson27@yahoo.com', '2018-05-18', 'Wallis and Futuna', 19, 'Trainee', 'Sales', 2, 9)
('Nya', 'Skiles', 'madisen.zulauf@gmail.com', '2021-12-09', 'Myanmar', 1, 'Lead', 'Mulesoft', 2, 5)
('Mose', 'Lakin', 'dale_murazik@hotmail.com', '2018-03-13', 'Italy', 18, 'Lead', 'Social Media Community Management', 7, 10)
('Terrance', 'Zieme', 'dustin31@hotmail.com', '2022-04-08', 'Timor-Leste', 25, 'Lead', 'DevOps', 2, 0)
('Aiyana', 'Goodwin', 'vallie.damore@yahoo.com', '2019-09-22', 'Armenia', 24, 'Intern', 'Development - CMS Backend', 4, 9)
('Emilia', 'Waelchi', 'peter.grady@gmail.com', '2020-07-15', 'French Southern Territories', 28, 'Lead', 'DevOps', 7, 4)
('Terrell', 'Streich', 'meta92@yahoo.com', '2021-12-27', 'Chad', 3, 'Mid-Level', 'Salesforce', 5, 10)
('Hilda', 'Rodriguez', 'jordan.hyatt@hotmail.com', '2020-05-09', 'El Salvador', 16, 'Junior', 'System Administration', 7, 8)
('Hope', 'Hansen', 'clemmie.bruen@hotmail.com', '2019-10-12', 'Mozambique', 18, 'Architect', 'Security', 4, 1)